* {
    background-color: #2C5364;
}
body{
    background-color: #2C5364; 
    color: white;              
    font-family: 'Caveat', cursive;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;

}
img{
    width: 200px;
    height: auto;
}
.two{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;  
    color: black;          
    width: 200px;
}
.songs-container {
  margin: 20px;       
}
.songs-container h2 {
  margin-bottom: 10px;
}
.songs-container p {
  margin-bottom: 15px;
}
.songs-list {
  list-style-type: none; 
  padding-left: 0;       
}
.songs-list li {
  margin-bottom: 15px;   
}
.songs-list p {
  margin: 0;             
  font-weight: bold;
}
.songs-list audio {
  display: block;        
  margin-top: 5px;
}
.songs-row {
  display: flex;
  gap: 20px;      
  justify-content: center; 
  flex-wrap: wrap;  
}
.four{
    width: 120px;
    height: 50px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;  
    color: black;     
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);     
}